		<div ng-controller="collectionDetailCtrl">
			<div class="col-xs-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li>
            <a ng-disable="true">{{ collection }}({{ data.names.length }})<span class="sr-only">(current)</span></a>
          </li>
          <li ng-repeat="name in data.names"
              ng-class="getNameClass(name)">
            <a ng-click="toggleNameSelect(name)">{{ name }}</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2">
        <div class="page-head">
          <h3>Pick statistic and dates:<a class="btn btn-label" href="/mongo">Back to mongo</a></h3>
          <form class="form-inline">
            <div class="btn-group" role="group">
              <a ng-repeat="statistic in data.statistics"
                 ng-click="selectStatistic(statistic)"
                 class="btn btn-default btn-label"
                 ng-class="getStatisticClass(statistic)">{{ statistic }}
              </a>
            </div>
            <div class="pull-right">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, 'start')">From:<i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="start" is-open="startOpened" max-date="'{{ end }}'" datepicker-options="dateOptions" date-disabled="disabled(date)" ng-required="true" close-text="Close" />
              </div>
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, 'end')">To:<i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="end" is-open="endOpened" max-date="'{{ end }}'" datepicker-options="dateOptions" date-disabled="disabled(date)" ng-required="true" close-text="Close" />
              </div>
            </div>
          </form>
        </div>

        <hr>
        
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">{{ selectedStatistic }}<i class="pull-right">{{ start|date:'yyyy-MM-dd' }} ~ {{ end|date:'yyyy-MM-dd' }}</i></h4>
          </div>
        </div>
        <div class="panel body graph" id="graph">
          graph goes here
        </div>
		</div>